.nav-wrapper .topmenu img{
  position: absolute;
  top:10px;
  left:0px;
  opacity: 100;
}
.nav-wrapper .topmenu .brand-logo{
  position: absolute;
  left: 55px;
  font-weight: bolder;
  font-family: fantasy;
  fill-opacity: initial;
}

.shit .foot .footer-copyright{
  position: relative;
  bottom: -100px;
  font-style: italic
  
}